nav{
    width: 100%;
    height: auto;
    display: flex;
    
}

        nav a img{
            border-radius:50% ; 
        }
            nav a img:hover{
                transform: scale(1.1);
                cursor: pointer;
                transition: 0.5s;
    }

nav ul {
    list-style: none;
}
    nav ul li{
        list-style: none;
        display: inline-block;
        margin:0 8px;
        
    }
        nav div ul li a {
            color: #B89790;
            font-size: 22px;
            text-decoration: none;
            
        }
        nav div ul li a:hover{
            cursor: pointer;
            color: #60ab90;
            font-weight: 600;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 100%;   
}
.UlNavBar{
    padding: 60px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.ColorHoverNav:hover{
    cursor: pointer;
    text-decoration: line-through;
}